html {
  scroll-behavior: smooth;
}

body {
  background: #eee;
}

.navbar {
  transition: 0.3s;
}

#side_nav {
  background: #212229;
  min-width: 250px;
  max-width: 250px;
  height: 98vh;
  transition: all 0.3s ease;
  margin-left: 5px;
  flex: 0 0 auto;
  width: 250px; /* Adjust the width as needed */
  min-width: 0;
  position: fixed;
  z-index: 1;
}

#side_nav ul {
  overflow-y: auto; /* Add scrollbars when the content overflows */
  max-height: 90vh; /* Set a maximum height to limit the sidebar's height */
  padding-bottom: 80px;
}

.content {
  min-height: 100%;
  width: 100%;
  flex: 1 1 auto;
  min-width: 0;
  margin-left: 250px;
}

.navbar{
  margin: 1rem;
  margin-top: 0.6rem;
}

.navbar li.active{
  background: #cfcfcf;
  border-radius: 8px;
  color: #ffffff;
}

.profile:hover{
  background: #cfcfcf;
  border-radius: 8px;
}

.logout:hover{
  background: #f09e9e;
  border-radius: 8px;
}


.sidebar li.active {
  background: #306c76;
  border-radius: 8px;
}

.sidebar li:hover {
  background: #306c76;
  border-radius: 8px;
  opacity: 0.8;
  font-size: 17px;
}

.sidebar li a {
  color: #fff;
}

#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
}

#progress-value {
  display: block;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #212229;

}


.profile-text {
  display: none;
}

.logout-icon{
  padding-top: 10px;
}

.logout-text {
  display: none;
}

.dashbtn {
  text-align: left;
}

.modal.fade{
  transition: all 0.1s ease;
}

#headbrand {
  display: none;
}

#fileInput {
  position: absolute;
  left: -9999px;
}

.fade-in {
  opacity: 0; 
  transition: all 0.5s ease-in-out; 
}


@media (max-width: 767px) {
  #side_nav {
    margin-left: -250px;
    position: fixed;
    min-height: 97vh;
    z-index: 1;
    opacity: 98%;
  }

  .content{
    margin-left: 0;
  }
  #side_nav.active {
    margin-left: 5px;
  }

  #navbrand{
    display: none;
  }
  
  #navbarSupportedContent {
    transition: all 0.3s ease;
  }

  .col.border-end{
    border-right: none;
  }

  .profile-text {
    display: block;
  }

  .profile-img {
    display: none;
  }

  .logout-text {
    display: block;
  }

  .logout-icon {
    display: none;
  }
}
