.navbar li.active{
    background: #cfcfcf;
    border-radius: 8px;
    color: #ffffff;
}

.profile:hover{
    background: #cfcfcf;
    border-radius: 8px;
}

.logout:hover{
    background: #f09e9e;
    border-radius: 8px;
}


