body {
  background: #eee;
}

.navbar {
  transition: 0.3s;
}

#side_nav {
  background: #212229;
  min-width: 250px;
  max-width: 250px;
  height: 98vh;
  transition: all 0.3s;
  margin-left: 5px;
  flex: 0 0 auto;
  width: 250px; /* Adjust the width as needed */
  min-width: 0;
  position: fixed;
  z-index: 1;
}

.content {
  min-height: 100%;
  width: 100%;
  flex: 1 1 auto;
  min-width: 0;
  margin-left: 250px;
}

.navbar{
  margin: 1rem;
  margin-top: 0.6rem;
}

.sidebar li.active {
  background: #306c76;
  border-radius: 8px;
}

.sidebar li:hover {
  background: #306c76;
  border-radius: 8px;
  opacity: 0.8;
  font-size: 17px;
}

.sidebar li a {
  color: #fff;
}


@media (max-width: 767px) {
  #side_nav {
    margin-left: -250px;
    position: fixed;
    min-height: 97vh;
    z-index: 1;
  }

  .content{
    margin-left: 0;
  }
  #side_nav.active {
    margin-left: 5px;
  }

  
}
